<style>
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
</style>
<div class="container">
  <form role="form" action="/auth/local" method="post" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label class="sr-only" for="inputIdentifier">Username or Email</label>
    <input class="form-control" type="text" name="identifier" id="inputIdentifier" placeholder="Username or Email">
    <label class="sr-only" for="inputPassword">Password</label>
    <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Password">
    <% if (errors) {%>
      <% errors.forEach(function (error) { %>
        <%= __(error) %>
      <% }) %>
    <% } %>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Sign in</button>
    <a href="/auth/<%= providers['linkedin'].slug %>" role="button" class="linkedInBtn"></a>
  </form>

</div>
