<div class="container">
  <h1>Professionals</h1>
    <div id="flashMessages">
    </div>

    <% if(profiles.length) { %>
      <div class="row" id="contact">
        <% profiles.forEach(function(profile) { %>
          <div class="col-xs-6 col-sm-3">
          <div class="well well-lg textcenter">
            <img class="img-responsive marginauto img-circle" src="http://lorempixel.com/200/200/abstract" alt="">
            <div class="caption">
              <h4><%= profile.name %></h4>
              <p><%= profile.company.title %></p>
              <p><%= profile.designation.title %></p>
              <p><%= profile.industry.title %></p>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
    <% } else { %>
      <div class="alert alert-info" id="contact">
        There are no professionals within your search, please try again.
      </div>
    <% } %>

  </div>
</div>
